{% load jira_tags %}
<div id="issue-tabs">
	<div class="tab-container tabs-classic">
		<ul>
			<li class="selected">
				<a class="tab-item-content">
					Comments
				</a>
			</li>
			<li>
                <a class="tab-item-content" href="{% url 'jira_app:history-list' account.key project.key issue.key %}" hx-target="#issue-tabs" hx-boost="true" hx-replace-url="false">
					History
				</a>
			</li>
		</ul>
	</div>
	<div>
		<form action="{% url 'jira_app:comment-list' account.key project.key issue.key %}" method="POST" hx-post="{% url 'jira_app:comment-list' account.key project.key issue.key %}" hx-target="#issue-tabs">
			{% csrf_token %}
			<textarea name="comment" id="comment" class="form-control" rows="3"></textarea>
			<div class="form-group">
				<button type="submit" class="outline btn btn-link btn--sm">Add comment</button>
			</div>
		</form>
		<ul class="no-bullets">
		{% for comment in issue.renderedFields.comment.comments %}
			<li>
				<div class="tile u-items-center mb-3">
					<div class="tile__icon">
						<figure class="avatar">
							<img src="{{ comment.author.avatarUrls.16x16 }}" title="{{ comment.author.displayName }}" />
						</figure>
					</div>
					<div class="tile__container">
						<p class="tile__title m-0">
							{{ comment.author.displayName }}
						</p>
						<span class="info">on {{ comment.created }}</span>
						{{ comment.body|safe }}
					</div>
				</div>
			</li>
		{% empty %}
			<li>
				No comments so far.
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
</ul>
