{% load jira_tags %}
<div id="children-tabs">
    <div class="tab-container tabs-classic">
        <ul>
            <li class="selected">
                <a class="tab-item-content">
                    {% if level == 0 %}
                        Subtasks
                    {% elif level == 1 %}
                        Stories
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
    {% if issue_list %}
      <div class="table-container">
         <table class="table striped bordered small u-text-left text-sm">
            <thead>
               <tr>
                  <th>Key</th>
                  <th>Type</th>
                  <th style="width: 50%;">Sumary</th>
                  <th>Status</th>
                  <th>Assignee</th>
               </tr>
            </thead>
            <tbody>
            {% for issue in issue_list %}
               <tr>
                  <td style="width: 10%;">{{ issue.key }}</td>
                  <td style="width: 10%;">
                     <div class="tag-container">
                        <div class="tag tag--xs {{ issue.fields.issuetype.name|to_issue_type_class }}">
                           {{ issue.fields.issuetype.name }}
                        </div>
                     </div>
                  </td>
                  <td style="min-width: 50%; max-width: 50%;">
                     <a href="{% url 'jira_app:issue-detail' account.key project.key issue.key %}" hx-boost="true">{{ issue.fields.summary }}</a>
                     {% if issue.fields.labels %}
                     <div class="tag-container">
                        {% for label in issue.fields.labels %}
                           <div class="tag tag--xs bg-orange-200">{{ label }}</div>
                        {% endfor %}
                     </div>
                     {% endif %}
                  </td>
                  <td style="width: 10%;">
                     <div class="tag tag--xs {{ issue.fields.status.statusCategory.key|to_status_class }}">
                        {{ issue.fields.status.name }}
                     </div>
                  </td>
                  <td style="width: 10%;">
                     {% if issue.fields.assignee %}
                        <img width="32" height="32" src="{{ issue.fields.assignee.avatarUrls.32x32 }}" title="{{ issue.fields.assignee.displayName }}" alt="{{ issue.fields.assignee.displayName }}" />
                     {% endif %}
                  </td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   {% else %}
     <ul class="no-bullets">
         <li>
           {% if level == 0 %}
               No subtasks
           {% elif level == 1 %}
               No stories, bugs or tasks
           {% endif %}
         </li>
     </ul>
   {% endif %}
</div>

