{% extends "base.html" %}
{% load jira_tags %}

{% block title %}{{ account.name }} - Issues{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb__item">
       <a href="{% url 'jira_app:account-detail' account.key %}">{{ account.name }}</a>
    </li>
    <li class="breadcrumb__item">
        Projects
    </li>
    <li class="breadcrumb__item">
       <a href="{% url 'jira_app:project-detail' account.key project.key %}">{{ project.name }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--active">
       {% if release_id %}
         Release id={{ release_id }}
      {% else %}
         Sprint: {{ sprint.name }}
      {% endif %}    
    </li>
{% endblock %}

{% block menu %}
<div class="nav-item has-sub toggle-hover" id="dropdown">
   <a class="nav-dropdown-link">Menu</a> 
   <ul class="dropdown-menu dropdown-animated" role="menu" hx-boost="true">
      <li role="menu-item"><a href="/" hx-boost="true">Third Item</a></li>
   </ul>
</div>
{% endblock %}

{% block body %}
   {% if grouper_field == 'status' %}
      {% regroup issue_list by fields.status.name as grouped_issues %}
   {% elif grouper_field == 'epic' %}
      {% regroup issue_list by fields.parent.fields.summary as grouped_issues %}
   {% elif grouper_field == 'assignee' %}
      {% regroup issue_list by fields.assignee.displayName as grouped_issues %}
   {% elif grouper_field == 'issuetype' %}
      {% regroup issue_list by fields.issuetype.name as grouped_issues %}
   {% elif grouper_field == 'priority' %}
      {% regroup issue_list by fields.priority.name as grouped_issues %}
   {% endif %}

   <form method="GET" action=".">
	  <div class="u-flex u-items-flex-end">
		  <div class="u-flex-column mr-2 mb-2">
			  Group by:
		  </div>
		  <div class="u-flex-column input-control w-20p">
			<select class="select input--sm" name="group-by" hx-boost="true" hx-trigger="change" hx-get="." hx-include="[name='group-by']" hx-target="#issue-list">
			   <option value="assignee">Assignee</option>
			   <option value="epic">Epic</option>
			   <option value="status">Status</option>
			   <option value="priority">Priority</option>
			   <option value="issuetype">Issue Type</option>
			</select>
		  </div>
		  <div class="col-xs-6">
		  </div>
	  </div>
   </form>

   <div id="issue-list">
   {% for group_value, issue_list in grouped_issues %}
      {{ group_value|default:"N/A" }}
      <div class="table-container">
         <table class="table striped bordered small u-text-left text-sm">
            <thead>
               <tr>
                  <th>Key</th>
                  <th>Type</th>
                  <th style="width: 50%;">Sumary</th>
                  <th>Status</th>
                  <th>Assignee</th>
                  <th>Updated</th>
               </tr>
            </thead>
            <tbody>
            {% for issue in issue_list %}
               <tr>
                  <td style="width: 10%;">{{ issue.key }}</td>
                  <td style="width: 10%;">
                     <div class="tag-container">
                        <div class="tag tag--xs {{ issue.fields.issuetype.name|to_issue_type_class }}">
                           {{ issue.fields.issuetype.name }}
                        </div>
                     </div>
                  </td>
                  <td style="min-width: 50%; max-width: 50%;">
                     <a href="{% url 'jira_app:issue-detail' account.key project.key issue.key %}" hx-boost="true">{{ issue.fields.summary }}</a>
                     {% if issue.fields.labels %}
                     <div class="tag-container">
                        {% for label in issue.fields.labels %}
                           <div class="tag tag--xs bg-orange-200">{{ label }}</div>
                        {% endfor %}
                     </div>
                     {% endif %}
                  </td>
                  <td style="width: 10%;">
                     <div class="tag tag--xs {{ issue.fields.status.statusCategory.key|to_status_class }}">
                        {{ issue.fields.status.name }}
                     </div>
                  </td>
                  <td style="width: 10%;">
                     {% if issue.fields.assignee %}
                        <img width="32" height="32" src="{{ issue.fields.assignee.avatarUrls.32x32 }}" title="{{ issue.fields.assignee.displayName }}" alt="{{ issue.fields.assignee.displayName }}" />
                     {% endif %}
                  </td>
                  <td style="width: 10%;">{{ issue.fields.updated|natural_day }}</td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   {% endfor %}
   </div>
{% endblock %}
